{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2 class="mb-3 text-center">All Records</h2>

    {% for item in items %}
    <div class="item-card">
        {% if item.image %}
            <img src="{{ item.image.url }}" alt="Фото" class="img-fluid" style="width: 200px; height: auto; object-fit: cover; margin-right: 15px;">
        {% endif %}
        <div>
            <h5 class="fw-bold">
                {{ item.title }}
                <span class="badge
                    {% if item.status == 'lost' %}bg-danger
                    {% elif item.status == 'found' %}bg-success
                    {% else %}bg-secondary{% endif %}">
                    {{ item.get_status_display }}
                </span>
            </h5>
            <h7 class="text-muted mb-1">{{ item.description|truncatechars:100 }}</h7>
            <p class="text-muted mb-1">Posted by: {{ item.user.username }}</p>
            <p class="text-muted mb-1">Posted on: {{ item.created_at|date:"d.m.Y H:i" }}</p>
            <a href="{% url 'item_detail' item.id %}" class="btn btn-primary btn-sm">Details</a>
        </div>
    </div>
    {% endfor %}

    {% if items.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-3">
            {% if items.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.previous_page_number }}">Previous</a>
                </li>
            {% endif %}

            <li class="page-item active">
                <span class="page-link">{{ items.number }} / {{ items.paginator.num_pages }}</span>
            </li>

            {% if items.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ items.paginator.num_pages }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
