{% extends "base.html" %}

{% block content %}
<style>
   .centered-container {
    display: flex;
    justify-content: center;
}
</style>
<div class="centered-container">
    <div class="card shadow p-4">
        <h2 class="text-center mb-4">Register</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="id_username" class="form-label">Username</label>
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="text-danger">
                        {{ form.username.errors.0 }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-3">
                <label for="id_email" class="form-label">Email</label>
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="text-danger">
                        {{ form.email.errors.0 }}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="id_password" class="form-label">Password</label>
                {{ form.password }}
                {% if form.password.errors %}
                    <div class="text-danger">
                        {{ form.password.errors.0 }}
                    </div>
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="id_confirm_password" class="form-label">Confirm Password</label>
                {{ form.confirm_password }}
                {% if form.confirm_password.errors %}
                    <div class="text-danger">
                        {{ form.confirm_password.errors.0 }}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="btn btn-primary w-100">Register</button>
        </form>

        {% if form.non_field_errors %}
            <div class="alert alert-danger mt-3">
                {{ form.non_field_errors.0 }}
            </div>
        {% endif %}

    </div>
</div>
{% endblock %}
